<p>department-list works!</p>
<table class="table table-bordered  table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dept of departments" >
            <td>{{dept.id}}</td>
            <td>{{dept.name}}</td>
            <td>{{dept.description}}</td>
            <td> 
                <a class="btn btn-secondary  p-2 m-2" href="/detpDetails/{{dept.id}}">Details</a>
                <a class="btn btn-primary p-2 m-2" href="/deptEdit/{{dept.id}}">Edit</a>
                <!-- <a class="btn btn-danger p-2 m-2" (click)="deleteDept(dept.id)">Delete</a> -->
            </td>
        </tr>
    </tbody>
</table>