<div class=" ">
    <h2>Student List</h2>
    <table class="table table-bordered  table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>deptName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody bordered>
            @for (student of students; track student.st_Id) {
            <tr>
                <td>{{student.st_Id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.deptName}}</td>
                <td>
                    <button class="btn btn-secondary  p-2 m-2" routerLink = "/student/edit/{{student.st_Id}}">Edit</button>
                    <!-- <a class=" btn btn-danger p-2 m-2 " (click)="deleteStudent(student.id)">Delete</a> -->
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>