<div class="container">
    <div class="row alert  alert-info ">
        <div class="col-md-4">
            <div class="p-4">
                <div class="card-header">
                    <h3>Department Details</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" value="{{deprtment?.dept_Id}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{deprtment?.dept_Name}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="description">noofStudents</label>
                        <input type="text" class="form-control" id="description" name="description" value="{{deprtment?.noofStudents}}" readonly>
                    </div>

                    <a class="btn btn-secondary mt-2" routerLink="/deptList">Back</a>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

