<!-- <div class=" ">
    @if(status){
    <h2>Student List</h2>
    <div class="container p-4  ">
        <label for="std.id" class=" form-control">ID
        <input type="text" class="form form-control" [(ngModel)]="std.id"/></label>
        <label for="std.name " class="form-control">Name
        <input type="text" class="form-control " [(ngModel)]="std.name"/>
        </label>
        <label for="std.age" class="form-control">Age
        <input type="text" class="form-control" [(ngModel)]="std.age"/>
        </label>
        <label for="std.email" class="form-control">Email
        <input type="text" class="form-control"  [(ngModel)]="std.email"/>
        </label>
       
        <div class="form-control form">
            <button class="btn btn-success  pe-4  text-center " (click)="addStudent()">Add</button>
        </div>
    </div>

    }@else{ 
        <h3>
            <a class="btn btn-dark  " (click)="back()">Back to Add</a>
        </h3>
        <h2>Edit Student </h2>

        <div class="container border ">
            <label for="std.id" class=" form-control">ID
            <input type="number" class="form form-control" [(ngModel)]="EditStd.id" disabled /></label>
            <label for="std.name " class="form-control">Name
            <input type="text" class="form-control " [(ngModel)]="EditStd.name"/>
            </label>
            <label for="std.age" class="form-control">Age
            <input type="number" class="form-control" [(ngModel)]="EditStd.age"/>
            </label>
            <label for="std.email" class="form-control">Email
            <input type="text" class="form-control" [(ngModel)]="EditStd.email"/>
            </label>
            
        </div>
        <div class="form-control form">
            <button class="btn btn-success  pe-4  text-center " (click)="updateStudent()">Update</button>
        </div>

    }
    <table class="table table-bordered  table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Addrss</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody bordered>
            @for (student of students; track student.id) {
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.email}}</td>
          
                <td>
                    <button class="btn btn-secondary  p-2 m-2" (click)="editStudent(student.id)">Edit</button>
                    <a class=" btn btn-danger p-2 m-2 " (click)="deleteStudent(student.id)">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div> -->